In [1]:
ls

 Volume in drive A is ABI
 Volume Serial Number is 5E09-2A7B

 Directory of A:\Data_Science\SpringBoard\Springboard\SQLFiles\SQLFiles Tier 1

07/27/2021  11:33 AM    <DIR>          .
07/27/2021  11:33 AM    <DIR>          ..
07/27/2021  11:33 AM    <DIR>          .ipynb_checkpoints
07/27/2021  11:28 AM               991 LocalSQLConnection.py
07/27/2021  11:28 AM             1,453 README.md
07/27/2021  11:33 AM                72 sql_assignment.ipynb
07/27/2021  11:28 AM           217,088 sqlite_db_pythonsqlite.db
07/27/2021  11:28 AM             4,207 SQLTasks Tier 1.sql
               5 File(s)        223,811 bytes
               3 Dir(s)  144,784,691,200 bytes free

In [4]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [5]:
SELECT sub.name, SUM( sub.revenue ) AS revenue
FROM (
SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
CASE
WHEN b.memid =0
THEN COUNT( b.facid ) * f.guestcost
ELSE COUNT( b.facid ) * f.membercost
END AS 'revenue'
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
GROUP BY b.facid, b.memid
) AS sub
GROUP BY sub.facid
HAVING revenue <=1000;

SyntaxError: invalid syntax (<ipython-input-5-fcd3ffa94810>, line 1)